openapi: 3.1.0
info:
  title: ChartMogul REST Account Subscriptions API
  version: '1'
  description: 'ChartMogul REST API for importing customers, subscriptions, plans,

    invoices, and transactions, and for reading subscription analytics

    metrics (MRR, ARR, ARPA, churn, LTV). Authentication uses HTTP Basic

    Auth with your API key as the username and an empty password.

    '
  contact:
    name: ChartMogul Developer Docs
    url: https://dev.chartmogul.com/docs/introduction
servers:
- url: https://api.chartmogul.com/v1
security:
- basicAuth: []
tags:
- name: Subscriptions
paths:
  /customers/{uuid}/subscriptions:
    parameters:
    - in: path
      name: uuid
      required: true
      schema:
        type: string
    get:
      tags:
      - Subscriptions
      summary: List customer subscriptions
      operationId: listCustomerSubscriptions
      responses:
        '200':
          description: Subscriptions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionList'
components:
  schemas:
    Subscription:
      type: object
      properties:
        uuid:
          type: string
        external_id:
          type: string
        customer_uuid:
          type: string
        plan_uuid:
          type: string
        status:
          type: string
    SubscriptionList:
      type: object
      properties:
        entries:
          type: array
          items:
            $ref: '#/components/schemas/Subscription'
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: HTTP Basic Auth. Username is your ChartMogul API key; password is empty.
